.ipynb_checkpoints/
Creating a Tiny Database.ipynb
Final_aalston9.ipynb
JupyterHub/
NFLRosters.tsv
NFLStats.ipynb
PS4code.ipynb
ProblemSet05Old.ipynb
ProblemSet05new.ipynb
SQLPlay.ipynb
Sailors.db
__pycache__/
iSQL.pyc
newNFL.db
players.json
tiny.db
